nodered_flow.txt
[{"id":"b0b1e5d0.705368","type":"subflow","name":"Chart fallos","info":"","in":[{"x":40,"y":100,"wires":[{"id":"a4792a89.5e0cc"}]}],"out":[]},{"id":"ef9d2396.04ea28","type":"dashDB in","z":"b0b1e5d0.705368","dashDB":"","service":"dashDB-4s","query":"","params":"","name":"","x":360,"y":100,"wires":[["59940aae.9187dc","b135a04a.a06b4"]]},{"id":"59940aae.9187dc","type":"debug","z":"b0b1e5d0.705368","name":"","active":false,"console":"false","complete":"false","x":530,"y":60,"wires":[]},{"id":"b135a04a.a06b4","type":"Serial Iterator","z":"b0b1e5d0.705368","name":"","property":"payload","inputFlow":"input","saveOutput":false,"recursive":false,"storeId":false,"x":530,"y":100,"wires":[["164e4977.77e057"],[]]},{"id":"a4792a89.5e0cc","type":"function","z":"b0b1e5d0.705368","name":"Query conf < 0.75","func":"msg.payload = \n\"SELECT INTENCION,NODO, COUNT(*) FR FROM DASH110744.CONVERSATIONS_LOG WHERE CONFIANZA < 0.75 GROUP BY INTENCION,NODO ORDER BY FR DESC LIMIT 10;\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":100,"wires":[["ef9d2396.04ea28"]]},{"id":"164e4977.77e057","type":"function","z":"b0b1e5d0.705368","name":"","func":"msg.topic = msg.payload.NODO + '->' + msg.payload.INTENCION;\nmsg.payload = msg.payload.FR;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["b135a04a.a06b4","af4e6a6d.ab8a9"]]},{"id":"af4e6a6d.ab8a9","type":"ui_chart","z":"b0b1e5d0.705368","name":"","group":"bc1de6bf.5f4d9","order":0,"width":"12","height":"8","label":"Confianza < 0.75","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":750,"y":100,"wires":[[],[]]},{"id":"bc1de6bf.5f4d9","type":"ui_group","z":"","name":"Graf","tab":"facae0db.88682","disp":false,"width":"25"},{"id":"facae0db.88682","type":"ui_tab","z":"","name":"Log Diálogos","icon":"dashboard","order":1},{"id":"18fda8e8.665b5f","type":"subflow","name":"Últimas filas","info":"","in":[{"x":80,"y":140,"wires":[{"id":"a785702a.45ac38"}]}],"out":[]},{"id":"4caf9874.3ecf2","type":"dashDB in","z":"18fda8e8.665b5f","dashDB":"","service":"dashDB-4s","query":"","params":"","name":"","x":380,"y":140,"wires":[["91d95577.72fe8","de1d4a56.bed278"]]},{"id":"a785702a.45ac38","type":"function","z":"18fda8e8.665b5f","name":"Últimas filas","func":"msg.payload = \n\"SELECT PREGUNTA,RESPUESTA,NODO,INTENCION,CONFIANZA,ENTIDADES FROM DASH110744.CONVERSATIONS_LOG ORDER BY HORA DESC LIMIT 10;\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["4caf9874.3ecf2"]]},{"id":"91d95577.72fe8","type":"debug","z":"18fda8e8.665b5f","name":"","active":false,"console":"false","complete":"false","x":580,"y":80,"wires":[]},{"id":"de1d4a56.bed278","type":"ui_template","z":"18fda8e8.665b5f","group":"223e3dbb.02f94a","name":"rows","order":2,"width":"25","height":"5","format":"\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;\">\n  <span style=\"width:290px;\">{{msg.payload[0].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[0].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[0].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[0].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[0].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[0].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;background-color: #F5F5F5\">\n  <span style=\"width:290px;\">{{msg.payload[1].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[1].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[1].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[1].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[1].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[1].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;\">\n  <span style=\"width:290px;\">{{msg.payload[2].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[2].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[2].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[2].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[2].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[2].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;background-color: #F5F5F5\">\n  <span style=\"width:290px;\">{{msg.payload[3].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[3].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[3].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[3].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[3].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[3].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;\">\n  <span style=\"width:290px;\">{{msg.payload[4].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[4].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[4].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[4].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[4].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[4].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;background-color: #F5F5F5\">\n  <span style=\"width:290px;\">{{msg.payload[5].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[5].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[5].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[5].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[5].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[5].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;\">\n  <span style=\"width:290px;\">{{msg.payload[6].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[6].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[6].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[6].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[6].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[0].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;background-color: #F5F5F5\">\n  <span style=\"width:290px;\">{{msg.payload[7].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[7].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[7].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[7].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[7].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[7].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;\">\n  <span style=\"width:290px;\">{{msg.payload[8].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[8].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[8].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[8].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[8].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[8].ENTIDADES}}</span>\n</div>\n<div layout=”row” layout-align=”start center” style=\"font-size:70%;color:black;margin-bottom: 5px;background-color: #F5F5F5\">\n  <span style=\"width:290px;\">{{msg.payload[9].PREGUNTA}}</span>\n  <span style=\"width:450px;margin-left:7px;\">{{msg.payload[9].RESPUESTA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[9].NODO}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[9].INTENCION}}</span>\n  <span style=\"width:50px;margin-left:7px;\">{{msg.payload[9].CONFIANZA}}</span>\n  <span flex style=\"margin-left:7px;\">{{msg.payload[9].ENTIDADES}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":710,"y":140,"wires":[[]]},{"id":"3294a.7e8496b68","type":"ui_template","z":"18fda8e8.665b5f","group":"223e3dbb.02f94a","name":"headlines","order":1,"width":"25","height":"1","format":"<div layout=”row” layout-align=”start center” style=\"font-size:90%;color:red;margin-bottom: 10px;\">\n  <span style=\"width:290px;\">Pregunta</span>\n  <span style=\"width:450px;margin-left:7px;\">Respuesta</span>\n  <span flex style=\"margin-left:7px;\">Nodo</span>\n  <span flex style=\"margin-left:7px;\">Intención</span>\n  <span style=\"width:50px;margin-left:7px;\">Conf.</span>\n  <span flex style=\"margin-left:7px;\">Entidades</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":720,"y":100,"wires":[[]]},{"id":"223e3dbb.02f94a","type":"ui_group","z":"","name":"Filas","tab":"facae0db.88682","disp":false,"width":"25"},{"id":"facae0db.88682","type":"ui_tab","z":"","name":"Log Diálogos","icon":"dashboard","order":1},{"id":"7cf4f27f.6d4c44","type":"function","z":"b8012de8.1210b","name":"sample data","func":"var pregunta=msg.req.query.PREGUNTA;\nvar respuesta=msg.req.query.RESPUESTA;\nvar nodo = msg.req.query.NODO;\nvar intencion = msg.req.query.INTENCION;\nvar confianza = parseFloat(msg.req.query.CONFIANZA).toFixed(2);\nvar entidades = msg.req.query.ENTIDADES;\nmsg.payload = {\n         PREGUNTA:pregunta,\n         RESPUESTA:respuesta,\n         NODO:nodo,\n         INTENCION:intencion,\n         CONFIANZA:confianza,\n         ENTIDADES:entidades,\n         HORA : 'TIMESTAMP'\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["1e12f2b7.0a7c9d","af2fe22a.c6734","4fdedb09.952b3c"]]},{"id":"1e12f2b7.0a7c9d","type":"http response","z":"b8012de8.1210b","name":"","x":650,"y":140,"wires":[]},{"id":"af2fe22a.c6734","type":"dashDB out","z":"b8012de8.1210b","dashDB":"","service":"dashDB-4s","table":"CONVERSATIONS_LOG","name":"","x":710,"y":100,"wires":[]},{"id":"4fdedb09.952b3c","type":"debug","z":"b8012de8.1210b","name":"","active":false,"console":"false","complete":"true","x":650,"y":60,"wires":[]},{"id":"23e4882b.1063d8","type":"http in","z":"b8012de8.1210b","name":"","url":"/logdata","method":"get","swaggerDoc":"","x":90,"y":100,"wires":[["7cf4f27f.6d4c44","e18b9e68.ad30b"]]},{"id":"e18b9e68.ad30b","type":"delay","z":"b8012de8.1210b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":220,"wires":[["3b7acee0.f5939a","8bd507c7.55632"]]},{"id":"3b7acee0.f5939a","type":"subflow:18fda8e8.665b5f","z":"b8012de8.1210b","x":670,"y":180,"wires":[]},{"id":"8bd507c7.55632","type":"subflow:b0b1e5d0.705368","z":"b8012de8.1210b","x":670,"y":260,"wires":[]}]